/**Layout*/

.flexRightCenter {
  display: flex;
  align-items: center;
}

.flexRightBottom {
  display: flex;
  align-items: flex-end;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 공통 */
.main {
  padding: 4rem 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.headerCategory {
  font-size: 1.5rem;
}
.headerCategory:hover {
  color: blue;
}
.headerLoginButton {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 4rem;
  font-size: 0.8rem;
  color: #f5f5f5;
  background-color: black;
}
.footerLinkWrapper {
  display: flex;
}
.footernonlink {
  padding: 0 0.5rem;
}
.footerLink:hover {
  color: blue;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
  margin: auto;
}
.inputWrapper {
  width: 100%;
  margin: 0.5rem;
}
.input {
  min-width: 100%;
  padding: 10px 5px;
  font-size: 15px;
}

.editorMenubar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editorSeriesSearch {
  width: 80%;
}

.editorTitleInput {
  width: 100%;
  padding: 10px 0;
  font-size: 30px;
  border: none;
  outline: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  /**page*/
  .main {
    width: 100%;
    padding: 1rem 1rem;
  }

  /** 홈화면 */
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2vw;
    row-gap: 2vh;
    margin-top: 36px;
  }

  /** 시리즈 페이지 관련 */

  .seriesTitle {
    display: flex;
    justify-content: space-between;
    margin: 19px 0;
  }

  .seriesMenu {
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr 1fr;
    padding: 28px 0;
  }

  /** 포스트 페이지 관련 **/
  .nav {
    margin-bottom: 23px;
  }

  .titleWrapper {
    padding: 32px 0;
  }

  .nextPreTab {
    padding: 30px 0;
  }
}
