/**Layout*/

.flexRightCenter {
  display: flex;
  align-items: center;
}

.flexRightBottom {
  display: flex;
  align-items: flex-end;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 공통 */

.category {
  position: relative;
  padding-left: 10px;
}
.categoryOption {
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;

  width: max-content;
  padding: 10px;

  background-color: white;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
}

.input {
  min-width: 100%;
  padding: 10px 5px;
  font-size: 15px;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  /**page*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1024px;
    margin: 0.5rem 0;
  }

  .mobileHeader {
    display: none;
  }

  .main {
    width: 1024px;
    padding: 50px 20px;
  }

  /** 홈화면 */
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vh;
    margin-top: 36px;
  }

  /** 시리즈 페이지 관련 */

  .seriesTitleWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin: 19px 0;
  }

  .seriesTitle {
    display: flex;
    justify-content: space-between;
    margin: 19px 0;
  }

  .seriesMenu {
    display: grid;
    align-items: center;
    grid-template-columns: 6fr 1fr 1fr;
    padding: 28px 0;
  }

  /** 포스트 페이지 관련 **/
  .nav {
    margin-bottom: 23px;
  }

  .titleWrapper {
    padding: 32px 0;
  }

  .nextPreTab {
    padding: 30px 0;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /**page*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 768px;
    margin: 0.5rem 0;
  }

  .mobileHeader {
    display: none;
  }

  .main {
    width: 768px;
    padding: 50px 20px;
  }

  /** 홈화면 */
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vh;
    margin-top: 36px;
  }

  /** 시리즈 페이지 관련 */

  .seriesTitleWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin: 19px 0;
  }
  .seriesTitle {
    display: flex;
    justify-content: space-between;
    margin: 19px 0;
  }

  .seriesMenu {
    display: grid;
    align-items: center;
    grid-template-columns: 6fr 1fr 1fr;
    padding: 28px 0;
  }

  /** 포스트 페이지 관련 **/
  .nav {
    margin-bottom: 23px;
  }

  .titleWrapper {
    padding: 32px 0;
  }

  .nextPreTab {
    padding: 30px 0;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  /**page*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    margin: 0.5rem 0;
    padding: 0 19px 0;
  }

  .main {
    width: 100%;
    padding: 50px 20px;
  }

  /** 홈화면 */
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2vw;
    row-gap: 2vh;
    margin-top: 36px;
  }

  /** 시리즈 페이지 관련 */

  .seriesTitle {
    display: flex;
    justify-content: space-between;
    margin: 19px 0;
  }

  .seriesMenu {
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr 1fr;
    padding: 28px 0;
  }

  /** 포스트 페이지 관련 **/
  .nav {
    margin-bottom: 23px;
  }

  .titleWrapper {
    padding: 32px 0;
  }

  .nextPreTab {
    padding: 30px 0;
  }
}
